<div class="container">
  <section class="jumbotron text-center">
    <h3>
      Blog
      <p class="text-muted">Our blog has <%= Article.public_count %> articles and counting!</p>
    </h3>
  </section>

  <section class="jumbotron">
    <h3>Recents articles</h3>
      <%= render @articles %>
  </section>

  <%= link_to "New  Article", new_article_path, class: "btn btn-primary" %>
</div>